# ------------------------------
# Operating Systems
# ------------------------------
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Desktop.ini
*.alias

# ------------------------------
# Local-only project files
# ------------------------------
/Local/

# ------------------------------
# Visual Studio Code
# ------------------------------
.vscode/

# ------------------------------
# Draw.io
# ------------------------------
*.bkp
*.dtmp

# ------------------------------
# Microsoft Office temporary files
# ------------------------------
~$*

# ------------------------------
# .NET build artifacts
# ------------------------------
**/bin/
**/obj/

# Rider / Visual Studio
*.user
*.suo
*.userosscache
*.sln.docstates

# ------------------------------
# Logs
# ------------------------------
*.log

# ------------------------------
# Environment files
# ------------------------------
.env
.env.*
!.env.example