# macOS 
.DS_Store
/Local
/Documentation/نگارش\ فنی
*.alias

# Drawio app files
*.dtmp
*.bkp

# Windows
Thumbs.db
Desktop.ini

# VS Code
/.vscode
.vscode

# Draw.io bkp files
*.bkp
*.dtmp
.gitignore
.gitignore
