@font-face {
  font-family: 'Vazirmatn';
  src: url('vazirmatn-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Vazirmatn';
  src: url('vazirmatn-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Orbitron';
  src: url('/assets/fonts/orbitron/orbitron-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}