@font-face {
  font-family: 'Vazirmatn';
  src: url('../assets/fonts/vazirmatn/vazirmatn-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Vazirmatn';
  src: url('../assets/fonts/vazirmatn/vazirmatn-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Orbitron';
  src: url('../assets/fonts/orbitron/orbitron-regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}