<footer id="footer">

    <link rel="stylesheet" href="/components/fonts.css">
    <link href="/components/footer.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container">

        <div class="footer-grid">

            <div class="footer-brand">

                <div class="footer-logo">
                    <div class="logo-icon">📅</div>
                    <span>رزروسنتر</span>
                </div>

                <p class="footer-desc">
                    سامانه رزرو آنلاین و مدیریت نوبت 
                </p>

            </div>


            <div class="footer-col">
                <h4>دسترسی سریع</h4>

                <a href="#">کسب‌وکارها</a>

            </div>


            <div class="footer-col">
                <h4>کسب‌وکارها</h4>

                <a href="#">ثبت کسب‌وکار</a>

            </div>


            <div class="footer-col">
                <h4>اطلاعات بیشتر</h4>

                <a href="./../pages/info/about-us.html">درباره ما</a>

            </div>

            <div class="footer-col">
                <h4>ارتباط با ما</h4>

                <a href="tel:+989123456789">📞 09123456789</a>
                <a href="mailto:support@reservcenter.ir">✉️ support@reservcenter.com</a>

                <span class="footer-help">
                    برای راهنمایی های بیشتر تماس بگیرید
                </span>

            </div>


        </div>


        <div class="footer-bottom">

            <span>
                © 2026 ReserveCenter - CSharpers Team
                <br>
                🧪 Beta website - Under development 🧪
            </span>

</footer>